node_modules
.next
.env
.env.local
dist
build
.system_generated
out
.eslintcache
.next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
/packages/database/src/generated/


# Runtime uploaded files - do not commit
apps/web/public/uploads/
apps/mobile/public/uploads/
